VITE_SUPABASE_URL=https://omallagyrsimipatfnke.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tYWxsYWd5cnNpbWlwYXRmbmtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMDI5ODgsImV4cCI6MjA5NDc3ODk4OH0.Dt3r9judvJCtwyOUB5_Jn8acLgZ0DiGj-RO8N9pAu28
